body {
  background-color: #FFBEF4;
  text-align: center;
  font-family: 'delfinoregular', Fallback, sans-serif;
}
h1 {
  color: white;
  text-align: center;
  font-family: 'delfinoregular', Fallback, sans-serif;
  font-size: 400%;
}
h2 {
  color: white;
  text-align: center;
  font-family: 'delfinoregular', Fallback, sans-serif;
  font-size: 200%;
}

p {
  color: white;
  text-align: center;
  font-family: 'delfinoregular', Fallback, sans-serif;
  font-size: 150%;
}

@font-face {
    font-family: 'delfinoregular';
    src: url('Delfino.woff2') format('woff2'),
         url('Delfino.woff') format('woff');
         url('Delfino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}		